# IDEs & editors
*.vscode/
*.idea/

# Operating System
.DS_Store

# Environment variables & secrets
*.env
*.secret

# Generated
*__pycache__/
*.pyc
*.rdb

# Builds & environments
*.venv/

# Logs
*.log
*log/
*logs/
